<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="temp.thymeleafdemo.repository.MemberMapper">

    <select id="selectByNameAndPassword" parameterType="Member">
        select
            member_id,
            password,
              name,
              role,
              status,
              created_at
        from member
        where name = #{name}
        and password = #{password}
    </select>


    <insert id="insert" parameterType="Member"
            useGeneratedKeys="true" keyProperty="memberId" keyColumn="member_id">
        insert into member (
        password
        , name
        , role
        , status
        , reg_date
        )
        values (
        #{password}
        , #{name}
        , #{role}
        , #{status}
            ,CURDATE()
--         , DATE_FORMAT(CURDATE(), '%Y%m%d %H%i%s')
        )
    </insert>
</mapper>
